
.border-margin{
    /* margin: 0 auto; */
    /* top: 100px;
    position: relative; */
    width: 50rem;
    border-radius: 20px;
}
.margin-set{
background-color: #635251;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
padding-top: 40px;
padding-bottom: 40px;
box-shadow: 5px 5px 5px;
}
.div-style{
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.history-style{
    padding-right: 5px;
    width: 46rem;
    margin: 0 auto;
    font-size: 2em;
    color: rgb(65, 63, 63);
    text-align: right;
    background-color: #dcdcdc;
    border: none;
    outline:  none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.input-style{
    width: 46rem;
    padding-right: 5px;
    margin: 0 auto;
    font-size: 3em;
    text-align: right;
    background-color: #dcdcdc;
    border: none;
    outline:  none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.keypad-colour{
    background-color: #efa438;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px;
}
.btn-style{
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px; 
}
.w-100{
    width: 49.3%;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
}
.w-100:hover{
    background-color: #635251;
}
.w-20{
    width: 24%;
    margin: 5px 0px;
    font-size: 30px;
    box-shadow: 5px 5px 5px;
    background-color: rgb(248, 248, 250);
    border-radius: 5px;
    border-width: 0px;
    outline: none;
    cursor: pointer;
}
.w-20:hover{
    background-color: #635251;
}

.but-colr{
    background-color: #ec8b23;
    border-width: 0px;
}

.text-align{
    text-align: center;
    border: 2px solid #ec8b23;
}

