/* .inline{
    display: inline-flex;
} */
/* .inline p{
    text-align: center;
}
.inline img{
    width: 98.859px;
    cursor: pointer;
} */


/* <!-- // ================== chapter# 49-52 Task 1 --> */
/* .width{
    width: 565px;
    text-align: center;
}
.inline{
    display: inline-flex;
}
.p1{
    margin-right: 10px;
}
.name-input{
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 20px;
    margin-top: 16px;
}

.p2{
    margin-left: 20px;
    margin-right: 38px;
}

.inline-pass{
    display: flex;
}



.p3{
    margin-right: 20px;
    margin-left: 3px;
}

.p4{
    margin-left: 20px;
    margin-right: 10px;

}
.p5{
    margin-right: 42px;
    margin-left: 3px;
}
.p6{
    margin-left: 20px;
    margin-right: 40px;
}
.but-1{
    margin-top: 5px;
}

.tabl-1{
    margin-top: 50px;
    border: 1px solid black;
}
.pad-rit{
    padding-right: 10px;
} */


/* <!-- // ================== chapter# 49-52 Task 3 --> */

/* .inline{
    display: inline-flex;
}
.p1{
    margin-right: 10px;
}
.name-input{
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 20px;
    margin-top: 16px;
}

.p2{
    margin-left: 20px;
    margin-right: 38px;
}

.inline-pass{
    display: flex;
}



.p3{
    margin-right: 20px;
    margin-left: 3px;
}

.p4{
    margin-left: 20px;
    margin-right: 10px;

} */


/* <!-- // ================== chapter# 53-58 Task 1 --> */

/* .align{
    text-align: center;
   
}
.img-size{
    width: 75px;
    height: 50px;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}
.blockClass{
    align-items: center;
}
#showModel{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid #ffffff;
}
 */
















