*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.no-pad{
    padding-left: 0px;
    padding-right: 0px;
}

.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}
.header-theme{
    background-color: rgba(98, 97, 97, 0.068);
    color: rgb(27, 95, 173);
    font-size: 20px;
}

.nav-opt a{
    color:black;
    /* border: 2px solid red; */
    background-color:rgba(98, 97, 97, 0.068);
    padding: 10px 0px;
    padding-left: 5px;
    padding-right: 10px;
    text-decoration: none;
    border-radius:10px ;
    box-shadow: 1px 1px 1px;
}
.nav-opt :hover{
    background-color: rgb(27, 95, 173);
    color: #ffffff;
}
.nav-opt i{
    padding: 5px;
}
.nav-opt{
    margin: 20px 0px;
    margin-left:5px ;
    margin-right: 5px;
    
}

.assg-div{
    background-color: rgb(27, 95, 173);
    color: #ffffff;
}

.mid-colr{
    background-color:rgba(98, 97, 97, 0.068) ;
   /* margin-top: 40px; */
   padding-bottom: 10%;
   padding-top: 10%;
}

.info-border{
    background-color: rgb(27, 95, 173);
    box-shadow: 10px 10px 10px ;
    border-radius: 20px;
    padding-top: 10px;
}

.font-adj p{
    font-size: 30px;
    color: #ffffff;
   
}

.footer-theme{
    background-color: rgb(41, 82, 129);
    padding-bottom: 20px;
    
}

.footer-theme a{
   color: #a19f9f;
    text-decoration: none;
    font-size: 20px;
}

.icon-pad-lft a:hover{
    color: #ffffff;
}
.footer-theme p{
    color: #a19f9f;
    font-size: 20px;
 }

.footer_heading{
    color: #ffffff;
    padding: 10px 0px;
}

.icon-pad-lft i{
 padding: 0px 7px;
 color: #ffffff;
}

.icon-pad{
    margin: 0px 5px;
    
}
.mrg-lft{
    margin-left: 80px;
}

.icon-pad i{
    font-size: 25px;
}

.icon-pad i:hover{
    color: #ffffff;
}

span.separator {
    height: 3px;
    width: 70px;
    background: #427600;
    display: block;
}